@import "../utilities/variables.scss";

#main_menu {
  z-index:1;
 // background-color: $second-color;
  background: linear-gradient(to right, white 20%, $second-color );
  height: 100px;
  /*box-shadow: 10px 10px 10px rgba(black,0.5);*/
}

#main_nav {
  vertical-align: center;
}