<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
        <h1 style="color:#A36298">Eureka Empowerment Environment</h1>
        <img alt="testImage" src="cid:EEE_image" style="width:90%; height:auto;"/>

    {{{body}}}

    <p style="font-size:10;">{{footer}}</p>

</body>
</html>