@import "./utilities/variables.scss";

#main {
    display:flex;
    flex-direction: column;
    position:absolute;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
}

#main_top {
    z-index: 1;
    display:flex;
    flex-direction: row;
    height:100px;
    box-shadow: 0px 10px 10px rgba(black,0.5);
}

#main_middle{
    display:flex;
    flex-direction: row;
    flex:2;
    /*flex: 2;*/
}

.main_left{
    flex : 2;
}

#left_menu {
    background-color: rgb(253,198,8);
    min-width: 20%;
}

/*#main_menu {
    background-color: rgb(28,184,207);
    min-height: 100px;
}*/

#main_content {
    display:flex;
    flex-direction: column;
    border: 2px solid $fourth-color;
    background-image:
            radial-gradient(rgba(white, 0.1), white 250px, $fourth-color),
            url("../_resources/logos/eureka_logo.png");
   /* background-image:url("../_resources/logos/eureka_logo.png");*/
    /*background-image:
        radial-gradient(white 50px, rgba($third-color,0.1)),
        url("../_resources/logos/eureka_logo.png");*/
    /*flex:2;*/
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    justify-content: flex-start;
   /* align-items:center;*/
    align-items:stretch;
    max-height:80vh;
    overflow:auto;
}

.card{
    background-color: white;
    border:2px #A36298 solid;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 10px 10px 10px rgba(black,0.5);
    padding: 50px;
}

.user{
    width:50%;
}

.item {
    align-items: center;
    justify-content: center;
}

/*.content_box {
    width:300px;
    height:300px;
    background-color:rgba($fourth-color, 0.7);
}*/

/*
#main_nav {
    vertical-align: center;
}*/

.space_row{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center; //vertical
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.CropBox{
    width:10px;
    height:50px;
}

.column {
    flex-direction: column;
}

li {
    list-style: none;
}

#logo {
    max-width: 20%;
    min-width: 20%;
    height: 100px;
}

#logo img{
    max-width: 100%;
    max-height: 100px;
    height:auto;
}

.fr_flag {
    background: url("../_resources/flags/france_round_icon_640.png") center center no-repeat;
    background-size: 150%;
}

.en_flag {
    background: url("../_resources/flags/france_round_icon_640.png") center center no-repeat;
    background-size: 150%;
}

.nl_flag {
    background: url("../_resources/flags/belgium_round_icon_640.png") center center no-repeat;
    background-size: 150%;
}
